html{
	height: 100%;
}

body{
	background-color: #20403A;
	border-top: 4px solid #5BC4B1;
	height: 100%;
}

*{
	box-sizing: border-box;
}

h1, h2, h3, p, a{
	margin: 0;
	padding: 0;
	border: 0;
}

h1{
	color: #FFFFFF;
	font-family: 'Poppins', sans-serif;
	font-size: 55px;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 36px;
	text-align: center;
}

h2{
	color: #20403A;
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 24px;
	text-align: center;
}

h3{
	color: #FFFFFF;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	/*letter-spacing: .5px;*/
	margin-bottom: 16px;
}

p{
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 1.8;
}


a{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

a:hover{
	color: #000;
}

a:hover, a:visited{
	cursor: hand;
}

.wrapper{
	margin: 0 auto;
	max-width: 1600px;
	padding: 5%;
}

.info{
	background-color: #20403A;
	display: inline-block;
	float: left;
	padding-right: 5%;
	width: 50%;
}

.info-container{
	/*margin: 0 auto;
	padding: 10%;*/
}

.logo{
	display: block;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 36px;
}

.info-container p span{
	color: #FFFFFF;
	font-weight: 700;
}

.dots{
	margin-bottom: 36px;
	width: 600px;
}

.avatar{
	display: block;
	margin: 24px 0px;
	padding: 4px;
	width: 100px;
}


.form{
	display: inline-block;
	padding-left: 5%;
	width: 50%;
}

.form-container{
	background-color: #FFFFFF;
	border-radius: 12px;
	margin: 0 auto;
	margin-bottom: 48px;
}

.form-details{
	padding: 48px 48px 24px 48px;
}

.coin{
	display: block;
	margin: 0 auto;
	margin-bottom: 12px;
	width: 60px;
}

.form-container p{
	color: #6A7A77;
	margin: 0 auto;
	margin-bottom: 24px;
	text-align: center;
	width: 100%;
}


label{
	color: #1C3A35;
	font-family: 'Lato', sans-serif;
	font-weight: 700; 
}


.collage3{
	display: block;
	margin: 0 auto;
	padding-bottom: 36px;
	width: 80%;
}

/*.social{
	margin: 0 auto;
	margin-bottom: 24px;
	text-align: center;
	width: 100%;
}

.social img{
	display: block;
	margin: 0 auto;
	margin-bottom: 8px;
	width: 24px;
}

.social a{
	color: #51C07F;
	text-decoration: underline;
}

.social a:hover{
	color: #419C67;
}*/

/* Start Resources CSS */
.resources-container{
	margin: 0 auto;
	padding: 5% 0%;
	width: 600px;
}

.resources a{
	background-color: #51C07F;
	color: #fff;
	display: block;
	margin-bottom: 16px;
	padding: 16px 30px;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
}

.resources a:hover{
	background-color: #49AD75;
}

.logo-full{
	display: block;
	margin: 0 auto;
	padding-bottom: 36px;
	text-align: center;
}

.headshot{
	display: block;
	margin: 0 auto;
	padding: 36px 0px;
	width: 50%;
}

@media screen and (max-width:1200px){
	.info, .form{
		display: block;
		float: initial;
		width: 100%;
	}

	.info{
		margin-bottom: 72px;
	}

	.form{
		background-color: #F5F2EE;
		display: block;
		padding: 0px;
	}
}

@media screen and (max-width:800px){
	.info, .form{
		display: block;
		width: 100%;
	}

	.info-container{
		display: block;
		margin: 0px;
		position: static;
		width: 100%;
	}

	.dots{
		width: 100%;
	}

	.form{
		display: block;
		margin-top: -6px;
		width: 100%;
	}

	.form-container{
		width: 100%;
	}
}


@media screen and (max-width:600px) {
	h1{
		font-size: 48px;
	}

	.wrapper{
		margin-top: 36px;
		padding: 20px;
	}

	.info{
		padding: 0px;
	}

	.info-container{
		display: block;
		margin: 0px;
		width: 100%;
	}

	.dots{
		width: 100%;
	}

	.collage1{
		display: none;
	}

	.collage2{
		width: 50%;
	}

	.logo-full{
		width: 100%;
	}

	.form{
		background-color: #F5F2EE;
		display: block;
		margin-top: 0px;
		width: 100%;
	}

	.form-container{
		width: 100%;
	}

	.form-details{
		padding: 24px;
	}

	.resources{
		padding: 20px;
	}

	.resources-container{
		width: 100%;
	}
}

